
firebase_admin
google-api-python-client
apscheduler
requests
bs4
flask
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
waitress
flask-cors
fake-useragent
asyncio
undetected-chromedriver
pyyaml
webdriver_manager
websocket-client==1.7.0
numpy
pytz
selenium==4.11.2
selenium-wire==5.1.0
2captcha-python==1.2.2
chromedriver-autoinstaller
blinker==1.7.0
